# Modules à ignorer pour les erreurs d'import
extension-pkg-whitelist=gradio,fastapi,uvicorn,matplotlib,

[MESSAGES CONTROL]
# Désactiver seulement les erreurs d'import pour des modules externes
disable=import-error, unused-argument, invalid-name

# Ignorer les erreurs d'import pour des modules spécifiques
ignored-modules=gradio,
                fastapi,
                uvicorn,
                matplotlib,
                pydantic
